 #DashH {
    display: flex;
    background-image: url('img/img12.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .9;
    margin-top: .1px;
    overflow: hidden;
}



.main-dashH {
    width: 80%;
    background: #FFFFFF;
    border: 8px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    align-self:inherit;
    height: 50%;
    max-width:  none !important;
    max-height:  none !important;
    margin-left: 2%;
    margin-top: 1%;
    overflow: hidden;
}

.location-cardH {
    border: 1px solid;
    justify-content: center;
    text-align: center;
}

.bumttonH {
    background-color: #726A95;
    padding: 1rem;
    justify-content: center;
    min-width: fit-content;
    
    border-radius: 8px;
}

.row-dashH {
    
    width: 100%;
   
    padding: 2%;
    white-space: 1%;
    scrollbar-gutter: 10%;
    box-sizing: border-box;
    
}

.row-dashH .colH + .colH {
    margin-top: 2rem;
}

@media (min-width: 992px) {
    .row-dashH {
        display: flex;
    
        justify-content: left;
        align-items: center;
        gap: 6rem;
    }

    .row-dashH .colH + .colH {
        margin-top: 0;
    }
}

.title-bumttonH {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.location-bumttonH {
    background-color: #719FB0;
    padding: 1rem;
    justify-content: center;
    min-width: fit-content;
    
    border-radius: 8px;
}

.seaterH{
    margin-left: 2.5em;
    text-align: left;
}