#forms1{ 
    align-self: center;
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}
.form1 {
 top: 270px;
 left: 620px;
 position: absolute;   
}
#forms1 .form-heading{
        margin: 0px auto;
        color: black;
        text-align: center;
        font-size: 30px;
        max-width: 600px;
        position: relative;
}
#forms1 .form-heading::before{
    /* content: ""; */
    display: block;
    width: 130px;
    height: px;
    background: black;
    /* position: absolute; */
}
#forms1 .form-heading::after{
    /* content: ""; */
    display: block;
    width: 130px;
    height: 3px;
    background: black;
    /* right: 75px;
    top: 50%; */
    /* position: absolute; */
}

#forms1 .form1 input{
    /* border: none; */
    border-bottom: 2px solid;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 15px;
    background-color: rgb(228, 236, 244);
    width: 300px;
    text-align: left;
    font-family: sans-seri;
    font-size: 20px;
    font-weight: bolder;
}


#forms1 .form1 input:target{
    border-color: transparent;
    border-bottom: 2px solid;
    text-align: center;
}


#forms1 .form1 input::placeholder{
    position: absolute;
    top: 10px;
}
#forms1 .form1 input::placeholder{
    font-family: calibri;
    font-size: 15px;
    /* font-weight: bolder; */
    text-align: left;
    position: absolute;
    top: 10px;
    bottom: 2px;
    color: grey;
}
#forms1 .form1 button{
    /* background-color: green; */
    border: 2px solid black;
    cursor: pointer;
    /* font-weight: bolder; */
    font-size: 20px;
    font-family: calibri;
    margin-top: 20px;
    width: 310px;
    color: white;
    background-color: black;
    border-radius: 4px;
    margin-left: 0px;
}
.form1{
    margin-right: 100px;
}
#accountExists1{
    margin-left: 40px;
    margin-top: 0px;
}
#forgot {
    margin-left:180px;
    position: absolute;
    top:110px;
}

.login {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: fit-content;
    margin-top: 50px;
  }
  
  .login > input {
    align-self: center;
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
  }
  
  .login > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }