#Customer1{
    width: 120px;
    
    border: 2px solid black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    font-family: calibri;
    color: black;
    background-color: white;
    border-radius: 4px;
    
}


#Hotel1 {
    width: 120px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    font-family: calibri;
    color: white;
    background-color: black;
    border-radius: 4px;
}

/* @media screen and (max-width: 500px) {
    #Customer1 {
        width: 140%;
        margin-left: -80%;
    }

    #Hotel1 {
        width: 240%;
        margin-left: -25%;
    }
} */

#Customer1:hover {
    color: white;
    background-color: black;
}
.Signup1{
    width: 700px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    align-self: auto;
    /* max-width: fit-content; */
    margin-left: 10px;
    margin: auto;
    opacity: 0.8;
    /* margin-top: 130px; */
    height: 440px;
    max-height: fit-content;
}