#forms{ 
    padding-top: 30px;
    padding-bottom: 20px;
    width: 75%;
    margin-left: 200px;
    margin-top: 100px;
    opacity: 1;
    /* background-color: whitesmoke; */
}
form {
 top: 270px;
 left: 465px;
 position: absolute;   
}
#forms .form-heading{
        margin: 0px auto;
        color: black;
        text-align: center;
        font-size: 30px;
        max-width: 600px;
        position: relative;
}
#forms .form-heading::before{
    /* content: ""; */
    display: block;
    width: 130px;
    height: px;
    background: black;
    /* position: absolute; */
}
#forms .form-heading::after{
    /* content: ""; */
    display: block;
    width: 130px;
    height: 3px;
    background: black;
    /* right: 75px;
    top: 50%; */
    /* position: absolute; */
}

#forms .form input{
    /* border: none; */
    border-bottom: 2px solid;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 15px;
    background-color: rgb(228, 236, 244);
    width: 300px;
    text-align: left;
    font-family: sans-seri;
    font-size: 20px;
    font-weight: bolder;
}


#forms .form input:target{
    border-color: transparent;
    border-bottom: 2px solid;
    text-align: center;
}
#forms .form #email{
    margin-left: 30px;
}
#forms .form #confirmPassword{
    margin-left: 30px;
}
#forms .form #DOB{
    margin-left: 30px;
    font-family: calibri;
    color: grey;
    font-size: 15px;
}
#forms .form input::placeholder{
    position: absolute;
    top: 10px;
}
#forms .form input::placeholder{
    font-family: calibri;
    font-size: 15px;
    /* font-weight: bolder; */
    text-align: left;
    position: absolute;
    top: 10px;
    bottom: 2px;
    color: grey;
}
#forms .form button{
    /* background-color: green; */
    border: 2px solid black;
    cursor: pointer;
    /* font-weight: bolder; */
    font-size: 20px;
    font-family: calibri;
    margin-top: 30px;
    width: 310px;
    color: white;
    background-color: black;
    border-radius: 4px;
    margin-left: 165px;
}
.form{
    margin-right: 100px;
}
#accountExists{
    margin-left: 200px;
    margin-top: 0px;
}